<!doctype html>
<html>
	<head>
		<title>Products</title>
		<style>
		  * { margin: 0; padding: 0; box-sizing: border-box; }
		  body { font: 13px Helvetica, Arial; }
		 /* form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }*/
		  form input {display: block; margin: 5px;padding: 5px;}
		 /* form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }*/
		 /* form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
		  #messages { list-style-type: none; margin: 0; padding: 0; }
		  #messages li { padding: 5px 10px; }
		  #messages li:nth-child(odd) { background: #eee; }*/

		  .separator {margin: 10px;}
		</style>
		<link rel="stylesheet" type="text/css" href="/views/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/views/css/custom.css">
		<link rel="stylesheet" type="text/css" href="/views/css/compra.css">
		<script type="text/javascript" src="/views/js/jquery-3.1.1.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a href="/views/index.html">Index </a></li>
				<li  class="active"><a href="/views/compra.html">Compra <span class="sr-only">(current)</span></a></li>
				<li><a href="/views/facturacion.html">Facturacion</a></li>
				<li><a href="/views/despacho.html">Despacho</a></li>
				<li><a href="/views/listaUsuarios.html">Usuarios</a></li>
				<li><a href="/views/login.html">Iniciar Seccion</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">One more separated link</a></li>
				  </ul>
				</li>
			  </ul>
			  <form class="navbar-form navbar-left">
				<div class="form-group">
				  <input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			  </form>
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
				  </ul>
				</li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="container" id="form-products"><!-- with viewModel -->
			<div class="col-sm-12" >
				<div class="form-inline form-group">
					<div class="form-group row">
					  	<label for="example-text-input" class="col-form-label">Suplidor</label>
						<input class="form-control" type="text" id="Suplidor" data-bind="value:compra().IdSuplidor().Nombre">
					</div>
					<div class="form-group row pull-right">
					  	<label for="example-search-input" class="col-form-label">fecha</label>
						<input class="form-control" type="date" id="fecha" disabled="" data-bind="value:new Date().toISOString().substring(0, 10)">
					</div>
				</div>
				<div class="form-inline form-group">
					<h3 class="title row">
						Detalles del Producto
					</h3>
					<div class="form-group col-md col-sm-4">
					  	<label for="example-email-input" class=" col-form-label">Nombre</label>
						<input class="form-control" type="text" id="nombre" data-bind="value:producto().Nombre">
					</div>
					<div class="form-group  col-sm-8">
					  	<label for="example-email-input" class=" col-form-label">Codigo del Producto</label>
						<input class="form-control" type="text" id="codigoProducto" data-bind="value:producto().CodigoProducto">
					</div>
					<div class="form-group col-sm-6 col-md-4">
					  	<label for="example-url-input" class="col-form-label">Precio</label>
						<input class="form-control" type="number" id="precio" data-bind="value:producto().Precio">
					</div>
					<div class="form-group col-sm-6 col-md-8">
					  	<label for="example-email-input" class=" col-form-label">Cantidad</label>
						<input class="form-control" type="number" id="cantidad" style="width: 105px;">
						<select class="form-control" id="amountin" data-bind="options: producto().AmountInEnum, value: producto().AmountIn">
							<option value="unidades">Unidades</option>
							<option value="libras	">Libras</option>
						</select>
					</div>
					
				</div>
				<div class="row" style="margin:10px;">
					<div class="form-group col-sm-12">
						<div class="col-sm-2 pull-right">
							<button class="btn btn-primary pull-right" data-bind="click:agregarProducto" id="agregar">Agregar</button>
						</div>
						<div class="col-sm-2 pull-right">
							<button class="btn btn-default pull-right" data-bind="click:limpiarDetallesCompra" id="limpiar">Libpiar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-bordered" id="lista-producto">
					  <thead class="thead-default">
						<tr>
						  <th>Cogido</th>
						  <th>Nombre</th>
						  <th>Precio</th>
						  <th>Cantidad</th>
						</tr>
					  </thead>
					  <tbody>
						
					  </tbody>
					</table>
				</div>
			</div>
			<div class="row" style="margin:10px;">
				<div class="form-group col-sm-12">
					<div class="col-sm-2 pull-right">
						<button class="btn btn-success pull-right" data-bind="click:guardarCompra">Guardar</button>
					</div>
				</div>
			</div>
		</div>

		
		
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/views/js/knockout-3.4.0.js" defer="true"></script>
		<script type="text/javascript" src="/views/js/bootstrap.min.js" defer="true"></script>
		<script type="text/javascript" src="/views/js/compra.js" defer="true"></script>
	</body>
</html>